/* Reset rules */
* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: gray;
}

#root {
  background-color: black !important;
  color: white !important;
}
#canvasCaseBreaker {
  border: 5px solid white;
  /* border: 10px solid black; */
  /* border: 10px solid #183dd0; */
}
